.form-group-space .form-control {
    margin-bottom: 10px;
}

.loading-modal .modal_wrapper {
    display: table;
    height: 100%;
    margin: 0px auto;
}

.loading-modal .modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.sk-wave .sk-rect {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
.vertical-middle {
    vertical-align: middle !important;
}

.login-div{
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -180px;
}
.login-div .input-group {
    margin-bottom: 15px;
}
.login-div .input-div {
    padding: 0px 60px;
    text-align: center;
}
.login-div .input-div label {
    padding-left: 5px;
    padding-right: 5px;
    color: #555;
}
.logo-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    text-shadow: 0px 0px 4px #eee;
    color: #46486b;
}
.login-div .input-group {
    margin-bottom: 15px;
}

.captcha-input-div {
    padding: 0px;
}

.captcha-img-div img {
    width: 100%;
}

