{{define "postcate/index.html"}}
{{template "common/frame-top.html" .}}
<!-- Main content -->
<section class="content">
    <div class="row mb-15">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a class="btn btn-primary" href="/postcate/save" target="_blank">添加文章分类</a>
        </div>
    </div>
    <div class="row mb-15">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>分类名称</th>
                        <th>分类说明</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .cateList}}
                    <tr>
                        <td>
                            <a href="/postcate/save?post_cate_id={{.PostCateId}}" target="_blank">{{.PostCateId}}</a>
                        </td>
                        <td>{{.PostCateName}}</td>
                        <td>{{.PostCateDes}}</td>
                        <td>{{.PostCateCreateAt}}</td>
                        <td>{{.PostCateUpdateAt}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</section>
{{template "common/frame-bottom.html"}}
{{end}}}